[submodule "enml"]
	path = enml
	url = git@github.com:ut-amrl/enml
[submodule "shared_lib"]
	path = shared_lib
	url = git@github.com:ut-amrl/amrl_shared_lib
[submodule "config_reader"]
	path = config_reader
	url = git@github.com:ut-amrl/config-reader
[submodule "graph_navigation"]
	path = graph_navigation
	url = https://github.com/ut-amrl/graph_navigation.git
