<launch>
  <!-- <include file="$(find ut_jackal)/launch/velodyne.launch"/> -->
  <include file="$(find ut_jackal)/launch/ouster.launch" />
  <!-- <include file="$(find zed_wrapper)/launch/zed2i.launch" /> -->

  <node name="autonomy_arbiter"
      pkg="ut_jackal"
      type="autonomy_arbiter"
      cwd="node"
      args="--config $(find ut_jackal)/config/autonomy_arbiter.lua"
      respawn="true"
      respawn_delay="2" />

  <node name="websocket"
      pkg="ut_jackal"
      type="websocket"
      respawn="true"
      respawn_delay="2" >
      <remap from="scan" to="velodyne_2dscan"/>
  </node>

  <node name="enml"
      pkg="ut_jackal"
      type="enml"
      args="-d1 -c $(find ut_jackal)/config -r enml.lua -m $(find ut_jackal)/maps"
      respawn="true"
      respawn_delay="2" />

  <node name="navigation"
      pkg="graph_navigation"
      type="navigation"
      args="-robot_config $(find ut_jackal)/config/navigation.lua --dw 10.0 --cw 0.2 --fw 0.1 move_base_simple/goal:=move_base_simple/localgoal"
      cwd="node"
      respawn="true"
      respawn_delay="2" />

  <node name="robofleet_client"
      pkg="ut_jackal"
      type="robofleet_client"
      args=""
      ns="jackal"
      respawn="true"
      respawn_delay="2" />

  <node name="status_translator"
      pkg="ut_jackal"
      type="status_translator"
      cwd="node"
      respawn="true"
      respawn_delay="2" />
  
</launch>


