<?xml version="1.0"?>

<launch>

  <include file="$(find ouster_ros)/launch/sensor.launch" >
      <arg name="sensor_hostname" value="169.254.164.25"/>
      <arg name="viz" value="false"/>
      <arg name="lidar_mode" value="1024x10"/>
      <arg name="timestamp_mode" value="TIME_FROM_ROS_TIME"/> 
  </include>

  <node pkg="tf2_ros"
      type="static_transform_publisher"
      name="static_transform_publisher"
      args="0 0 0.35 0 0 0 1 base_link os_sensor" />

  <node pkg="ut_jackal"
      type="pointcloud_to_laserscan"
      name="pointcloud_to_laserscan"
      args="--config $(find ut_jackal)/config/ouster_laserscan.lua"
      respawn="true"
      respawn_delay="2" />

  <node pkg="ut_jackal"
      type="pointcloud_to_laserscan"
      name="pointcloud_to_laserscan_highbeam"
      args="--config $(find ut_jackal)/config/ouster_laserscan_highbeam.lua"
      respawn="true"
      respawn_delay="2" />

</launch>
